header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

header time:before {
    content: '(';
}

header time::after {
    content: ')';
}

section.content {
    margin-bottom: 1rem;
}