<header>
    <h1 class="text-black">
        Matthew Deweese
    </h1>
    <address>
        <ul class="mb-4 list-unstyled list-contact d-none d-sm-block">
            <li>
                <a class="text-dark  link-plain" href="mailto:matthew@deweese.dev">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    matthew@deweese.dev
                </a>
            </li>
            <li>
                <a class="text-dark  link-plain" href="tel:+18146509413">
                    <fa-icon [icon]="faPhone"></fa-icon>
                    (814) 650-9413
                </a>
            </li>
            <li>
                <a class="text-dark  link-plain" href="https://www.google.com/maps/place/Blair+County,+PA/">
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                    Blair County, PA
                </a>
            </li>
        </ul>
        <div class="mb-4 list-group d-block d-sm-none mt-4">
            <a class="list-group-item list-group-item-action" href="mailto:matthew@deweese.dev">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                matthew@deweese.dev
            </a>
            <a class="list-group-item list-group-item-action" href="tel:+18146509413">
                <fa-icon [icon]="faPhone"></fa-icon>
                (814) 650-9413
            </a>
            <a class="list-group-item list-group-item-action"
                href="https://www.google.com/maps/place/Blair+County,+PA/">
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                Blair County, PA
            </a>
        </div>
    </address>
</header>