<nav class="no-print">
  <ul>

    <!-- <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/portfolio']" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}">
                    <fa-icon [icon]="faFile"></fa-icon>
                    Project Portfolio
                </a>
            </li> -->
    <li>
      <a href="https://www.linkedin.com/in/matthew-deweese-31b302b7/" target="_blank">
        <fa-icon [icon]="faLinkedIn"></fa-icon>
        Linked In
      </a>
    </li>
    <li>
      <a href="https://github.com/Tiptup300/" target="_blank">
        <fa-icon [icon]="faGitHub"></fa-icon>
        Github
      </a>
    </li>
  </ul>
</nav>