@inject ILogger _logger
@code 
{
    void DoThing() => _logger.LogError(() => "hello world");
}
<footer class="
    text-light
    mb-1
    container container-small
    col-print-12
    mt-2
    mb-2
    text-center
    no-print
  ">
    <p class="user-select-none" @onclick="() => DoThing()">
        &copy; @(DateTime.Now.Year) Matthew Deweese. All rights reserved.
    </p>
</footer>