<footer class="
    text-light
    mb-1
    container container-small
    col-print-12
    mt-2
    mb-2
    text-center
    no-print
  ">
    <p class="">
        Matthew Deweese @(DateTime.Now.Year)
        <a href="mailto:matthew@deweese.dev" class="link-plain text-light">send me an email.</a>
    </p>
</footer>