<nav class="no-print">
    <ul>

        <!-- <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/portfolio']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="fas fa-file"></i>
                        Project Portfolio
                    </a>
                </li> -->
        <li>
            <a href="https://www.linkedin.com/in/matthew-deweese-31b302b7/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
                Linked In
            </a>
        </li>
        <li>
            <a href="https://github.com/Tiptup300/" target="_blank">
                <i class="fa-brands fa-github"></i>
                Github
            </a>
        </li>
    </ul>
</nav>