  <nav class="no-print">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                <i class="fas fa-file"></i>
                My Resume
            </NavLink>
        </li>
        @* <li> *@
        @*     <NavLink href="/portfolio"> *@
        @*         <i class="fas fa-file"></i> *@
        @*         Project Portfolio *@
        @*     </NavLink> *@
        @* </li> *@
        <li>
            <a href="https://www.linkedin.com/in/matthew-deweese-31b302b7/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
                Linked In
            </a>
        </li>
        <li>
            <a href="https://github.com/Tiptup300/" target="_blank">
                <i class="fa-brands fa-github"></i>
                Github
            </a>
        </li>
    </ul>
</nav>