<nav class="navbar navbar-expand-sm navbar-light bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/face.gif" width="64" height="64" class="img-responsive rounded-circle"
                style="height:1em;width:1em" alt="Matthew Deweese" />
            deweese.dev
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">
                        <fa-icon [icon]="faFile"></fa-icon>
                        My Resume
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/portfolio">
                        <fa-icon [icon]="faFile"></fa-icon>
                        My Portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/matthew-deweese-31b302b7/">
                        <fa-icon [icon]="faLinkedIn"></fa-icon>
                        My LinkedIn
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Tiptup300/">
                        <fa-icon [icon]="faGitHub"></fa-icon>
                        My Github
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>