@page "/portfolio"
@using Tiptup300.DeweeseDotDev.Portfolio.Projects
@inject IMediator Mediator

<PageTitle>My Portfoilo</PageTitle>

<h3>portfolio</h3>

@foreach (var project in _projects) {
    <h4>@project.Title</h4>
}

@code {
    private IReadOnlyList<Project> _projects = new Project[0];

    protected override async Task OnInitializedAsync()
    {
        try{
            var response = await Mediator.Resolve<GetProjectsByPagination.Request, GetProjectsByPagination.Response>(
                new GetProjectsByPagination.Request(
                    PageNumber: 0,
                    PageSize: 10,
                    DeweeseDotDev.Portfolio.Resolvers.GetProjectsByPagination.SortOrder.DateAsc
                )
            );
            _projects = response.Projects;
        }
        catch(Exception ex){

        }
        
    }
}
