<PageTitle>Matthew Deweese - Software Developer</PageTitle>

<main>
    <article>
        <section id="objective">
           <div>
                <h3>Experienced</h3>
                <p>
                    With almost two decades of programming experience and a passion for learning, I bring a wealth of expertise to
                    every project. Whether working independently or as part of a team, I am committed to delivering high-quality
                    code that meets or exceeds client expectations.
                </p>
            </div>
            <div>
                <h3>Professional</h3>
                <p>
                    I stay up-to-date with the latest languages and tools, write clean and scalable
                    code, and prioritize teamwork and client satisfaction. I am committed to delivering high-quality projects on
                    time and within budget, and constantly strive to improve my craft and contribute to my team's success.
                </p>
            </div>
            <div>
                <h3>Driven</h3>
                <p>
                    As a driven individual, I am passionate about programming and dedicated to self-improvement through reading &
                    expirementation. I strive to deliver outstanding results that exceed client expectations and to tackle even
                    the most challenging projects with enthusiasm and confidence.
                </p>
            </div>
        </section>

        <section id="i-prefer" class="no-print">
            <h2>I Prefer...</h2>
            <ul>
                <li>✅ Practicing Agile methodolgies.</li>
                <li>✅ Practicing SOLID methodolgies.</li>
                <li>✅ Recognizing good patterns.</li>
                <li>✅ Programming to Interfaces.</li>
                <li>✅ Immutability.</li>
                <li>✅ Pure Functions</li>
                <li>✅ Code Formatting Standardization</li>
            </ul>


        </section>

        <section id="skills">
            <h2>Skills</h2>

            <dl>
                <dt>Systems & Architecture</dt>
                <dd>
                    <ul>
                        <li>Agile Software Methodology</li>
                        <li>Systems & Dependency Architecture</li>
                        <li>Domain Driven Design</li>
                        <li>Incremental Legacy System Refactoring</li>
                    </ul>
                </dd>
                <dt>Cloud Systems</dt>
                <dd>
                    <ul>
                        <li>Google Cloud Compute Engine</li>
                        <li>Linux Package Mangagement</li>
                        <li>Linux Terminal/Commands</li>
                    </ul>
                </dd>
                <dt>JS</dt>
                <dd>
                    <ul>
                        <li>Javascript</li>
                        <li>ReactJS</li>
                        <li>Typescript</li>
                        <li>Angular</li>
                        <li>Node.js</li>
                        <li>Git</li>
                        <li>Github</li>
                        <li>ExpressJs</li>
                    </ul>
                </dd>
                <dt>Databases</dt>
                <dd>
                    <ul>
                        <li>C#</li>
                        <li>Complex SQL Statements</li>
                        <li>MySQL</li>
                        <li>Microsoft SQL</li>
                        <li>Relational Databases</li>
                    </ul>
                </dd>
                <dt>Web Development</dt>
                <dd>
                    <ul>
                        <li>CSS3/HTML5 Web Dev</li>
                        <li>Rest APIs</li>
                        <li>Bootstrap</li>
                        <li>PHP</li>
                        <li>Mediawiki Extensions (php)</li>
                    </ul>
                </dd>
                <dt>MS</dt>
                <dd>
                    <ul>
                        <li>C#</li>
                        <li>Windows Subsystem For Linux</li>
                        <li>.Net Core/ Framework</li>
                        <li>.Net Winforms</li>
                        <li>Entity Framework</li>
                        <li>Visual Basic</li>
                    </ul>
                </dd>
                <dt>Desktop</dt>
                <dd>
                    <ul>
                        <li>Markdown</li>
                        <li>Complex Excel Formulas, formatting, validations</li>
                        <li>Desktop Scripting ( AutoHotKey)</li>
                    </ul>
                </dd>
                <dt>Misc</dt>
                <dd>
                    <ul>
                        <li>Regular Expressions</li>
                        <li>Use of Linters/code formatters</li>
                        <li>Vscode</li>
                        <li>Graphics Shaders (HLSL)</li>
                        <li>Java</li>
                        <li>Legacy Business Programming (RPG2, COBOL, as400, IBM iSeries 4)</li>
                    </ul>
                </dd>

            </dl>
        </section>

        <section id="work-experience">
            <h2>Work Experience</h2>

            <dl>
                <dt>Savana Inc.</dt>
                <dd>
                    <dl>
                        <dt>Title</dt>
                        <dd class="title">Developer II</dd>

                        <dt>Period</dt>
                        <dd class="period">Aug. 2021 - Present</dd>

                        <dt>Duties</dt>
                        <dd class="duties">
                            <ul>
                                <li>Managed, scheduled, & tracked builds & deployments according to project timelines & needs.</li>
                                <li>Successfully performed hotfixes in live production environments with precision and efficiency.</li>
                                <li>
                                    Contributed to the development of future company technology to transition to a more powerful
                                    abstraction-based platform, enabling the startup to solve current challenges.
                                </li>
                                <li>
                                    Exhibited strong technical knowledge and skills in ensuring a smooth and effective transition to the
                                    new system utilizing clean archectiture.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </dd>

                <dt>Savana Inc.</dt>
                <dd>
                    <dl>
                        <dt>Title</dt>
                        <dd class="title">Developer I</dd>

                        <dt>Period</dt>
                        <dd class="period">Sept. 2020 - Aug. 2021</dd>

                        <dt>Duties</dt>
                        <dd class="duties">
                            <ul>
                                <li>
                                    Successfully implemented software tickets by developing and testing new features while ensuring that
                                    they were ready for further QA testing.
                                </li>
                                <li>
                                    Provided valuable advice and assistance to other junior developers in solving programming issues &
                                    challenges.
                                </li>
                                <li>Participated Scrum meetings and contributed to the agile development process.</li>
                                <li>Demonstrated problem-solving skills by tackling complex issues and finding effective solutions.</li>
                                <li>Trained & Worked with new developer developers offering opinions & advice.</li>
                            </ul>
                        </dd>
                    </dl>

                </dd>


                <dt>Greater Altoona Career &amp; Technology Center</dt>
                <dd>
                    <dl>
                        <dt>Title</dt>
                        <dd class="title">Application Support</dd>

                        <dt>Period</dt>
                        <dd class="period">2014 - Sept. 2020</dd>

                        <dt>Duties</dt>
                        <dd class="duties">
                            <ul>
                                <li>
                                    Design, manage, and document monthly, quarterly, &amp; annual
                                    processes as needed by school district staff.
                                </li>
                                <li>
                                    Provided application support as needed for multiple school
                                    district's long-term needs using systems such as Infinite
                                    Campus & Infinite Visions.
                                </li>
                                <li>
                                    Implemented an application to query &amp; extract complete
                                    archives from an obsolete iSeries system.
                                    <ul>
                                        <li>
                                            The data was stored in individual excel documents for
                                            final archival.
                                        </li>
                                        <li>Developed solely by myself</li>
                                        <li>
                                            Created using C#, .Net Framework, Windows Forms, ODBC,
                                            Excel, EPPlus, & IBM SQL.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Saved the school districts upwards of $20,000 by developing a
                                    new bid purchasing software used for aggregation, collecting
                                    bid responses, &amp; purchasing.
                                    <ul>
                                        <li>Developed solely by myself.</li>
                                        <li>
                                            Created using C#, .Net Framework, Windows Forms, Microsoft
                                            SQL Express, Git, &amp; Entity Framework.
                                        </li>
                                        <li>
                                            I continue to support this system correcting bugs fixes
                                            &amp; implementing new requested features.
                                        </li>
                                        <li>
                                            One of the users of the application described the new
                                            efficiency of this system as decreasing the task load by
                                            twenty to one.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Write, update, &amp; troubleshoot SQL queries to pull specific
                                    data as necessary for state reporting.
                                    <ul>
                                        <li>
                                            Utilized Microsoft SQL on software implementations such as
                                            Infinite Visions &amp; Infinite Campus.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </dd>

                <dt>Bajco East LLC</dt>
                <dd>
                    <dl>
                        <dt>Title</dt>
                        <dd class="title">Shift Manager</dd>

                        <dt>Period</dt>
                        <dd class="period">2008 - 2014</dd>

                        <dt>Duties</dt>
                        <dd class="duties">
                            <ul>
                                <li>
                                    Working with customers to find their issues & resolving those
                                    needs with fast & easy solutions.
                                </li>
                                <li>
                                    Direct team members to perform duties and work efficiently.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </dd>
            </dl>
        </section>

        <section id="education">
            <h2>Education</h2>
            <dl>
                <dt>Greater Altoona Career &amp; Technology Center</dt>
                <dd>
                    <dl>
                        <dt class="period">Period</dt>
                        <dd class="period">2005 - 2008</dd>

                        <dt class="certifications">Certifications</dt>
                        <dd class="certifications">
                            <ul>
                                <li>Received Certification in Business Computer Programming</li>
                                <li>Received Certification in Oracle9i SQL</li>
                                <li>Formal instruction in COBOL, RPG, &amp; Visual Basic</li>
                                <li>
                                    Learned skills in planning, writing, & debugging applications
                                    in a business-oriented environment.
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </dd>

                <dt>Altoona Area High School</dt>
                <dd>
                    <dl>
                        <dt class="period">Period</dt>
                        <dd class="period">2005 - 2008</dd>

                        <dt class="certifications">Certifications</dt>
                        <dd class="certifications high-school">
                            Received High School Diploma
                        </dd>
                    </dl>
                </dd>
            </dl>
        </section>

        <section id="accomplishments" class="no-print">
            <h2>Accomplishments</h2>
            <ul>
                <li>Was involved with the early stages of Linux Mint, I designed the first logo which was replaced in 2007.</li>
                <li>
                    Implemented a popular Zune application that was featured on
                    Microsoft’s Xbox Director of Programming Major Nelson’s podcast.
                    <time datetime="2008-05-25" class="period">
                        <a href="https://majornelson.com/2008/05/25/show-280-xna-drm-and-more/">05/25/2008</a>
                    </time>
                </li>
            </ul>
        </section>
    </article>
</main>