<main>
  <article>
    <section id="objective">
      <h2>Objective</h2>
      <dl>
        <dt>Experienced</dt>
        <dd>
          I began programming in 2003. I built personal websites in 2005 using
          PHP, windows applications in 2006 using C# &amp; Windows Forms, Zune
          applications in 2008 using C# &amp; XNA, later building in-production
          business applications in 2020.
        </dd>
        <dt>Professional</dt>
        <dd>
          Later to be programming professional software for district users to
          perform district duties in 2020. I have experience in object-oriented
          programming, database design, querying, &amp; writing quality
          professional code.
        </dd>
        <dt>Driven</dt>
        <dd>
          I taught myself programming at a young age, I continue teaching myself
          to this day as I go through an ever-expanding list of books continuing
          to bolster my knowledge on programming &amp; insight into becoming a
          stronger developer.
        </dd>
      </dl>
    </section>

    <section id="skills">
      <h2>Skills</h2>
      <dl>
        <dt>Programming/Languages</dt>
        <dd>
          <ul>
            <li>C#</li>
            <li>SQL (Microsoft/MySQL)</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>Java</li>
            <li>Angular</li>
            <li>Visual Basic</li>
            <li>COBOL</li>
            <li>RPG</li>
          </ul>
        </dd>
        <dt>Database Management</dt>
        <dd>
          <ul>
            <li>Microsoft SQL Server</li>
            <li>phpMyAdmin</li>
            <li>MS Access</li>
          </ul>
        </dd>
        <dt>Development Tools</dt>
        <dd>
          <ul>
            <li>Git</li>
            <li>Microsoft Visual Studio</li>
            <li>GitHub Issues/Projects</li>
            <li>VS Code</li>
          </ul>
        </dd>
        <dt>Skills/Abilities</dt>
        <dd>
          <ul>
            <li>Refactoring</li>
            <li>Unit Testing</li>
            <li>Rapid Software Testing</li>
            <li>Domain Driven Design</li>
          </ul>
        </dd>
        <dt>Technologies</dt>
        <dd>
          <ul>
            <li>ASP.NET Core</li>
            <li>.NET Core</li>
            <li>.NET Core WinForms</li>
            <li>.NET Framework WinForms</li>
            <li>Bootstrap</li>
            <li>Entity Framework</li>
          </ul>
        </dd>
      </dl>
    </section>

    <section id="work-experience">
      <h2>Work Experience</h2>

      <dl>
        <dt>Greater Altoona Career &amp; Technology Center</dt>
        <dd>
          <dl>
            <dt>Title</dt>
            <dd class="title">Application Support</dd>

            <dt>Period</dt>
            <dd class="period">2014 - Present</dd>

            <dt>Duties</dt>
            <dd class="duties">
              <ul>
                <li>
                  Design, manage, and document monthly, quarterly, &amp; annual
                  processes as needed by school district staff.
                </li>
                <li>
                  Provided application support as needed for multiple school
                  district's long-term needs using systems such as Infinite
                  Campus & Infinite Visions.
                </li>
                <li>
                  Implemented an application to query &amp; extract complete
                  archives from an obsolete iSeries system.
                  <ul>
                    <li>
                      The data was stored in individual excel documents for
                      final archival.
                    </li>
                    <li>Developed solely by myself</li>
                    <li>
                      Created using C#, .NET Framework, Windows Forms, ODBC,
                      Excel, EPPlus, & IBM SQL.
                    </li>
                  </ul>
                </li>
                <li>
                  Saved the school districts upwards of $20,000 by developing a
                  new bid purchasing software used for aggregation, collecting
                  bid responses, &amp; purchasing.
                  <ul>
                    <li>Developed solely by myself.</li>
                    <li>
                      Created using C#, .NET Framework, Windows Forms, Microsoft
                      SQL Express, Git, &amp; Entity Framework.
                    </li>
                    <li>
                      I continue to support this system correcting bugs fixes
                      &amp; implementing new requested features.
                    </li>
                    <li>
                      One of the users of the application described the new
                      efficiency of this system as descreasing the task load by
                      twenty to one.
                    </li>
                  </ul>
                </li>
                <li>
                  Write, update, &amp; troubleshoot SQL queries to pull specific
                  data as necessary for state reporting.
                  <ul>
                    <li>
                      Utilized Microsoft SQL on software implementations such as
                      Infinite Visions &amp; Infinite Campus.
                    </li>
                  </ul>
                </li>
              </ul>
            </dd>
          </dl>
        </dd>

        <dt>Bajco East LLC</dt>
        <dd>
          <dl>
            <dt>Title</dt>
            <dd class="title">Shift Manager</dd>

            <dt>Period</dt>
            <dd class="period">2008 - 2014</dd>

            <dt>Duties</dt>
            <dd class="duties">
              <ul>
                <li>
                  Working with customers to find their issues & resolving those
                  needs with fast & easy solutions.
                </li>
                <li>
                  Direct team members to perform duties and work efficiently.
                </li>
                <li>
                  Track and evaluate inventory needs, sales information, &amp;
                  daily labor demands.
                </li>
              </ul>
            </dd>
          </dl>
        </dd>
      </dl>
    </section>

    <section id="education">
      <h2>Education</h2>
      <dl>
        <dt>Greater Altoona Career &amp; Technology Center</dt>
        <dd>
          <dl>
            <dt class="period">Period</dt>
            <dd class="period">2005 - 2008</dd>

            <dt class="certifications">Certifications</dt>
            <dd class="certifications">
              <ul>
                <li>Received Certification in Business Computer Programming</li>
                <li>Received Certification in Oracle9i SQL</li>
                <li>Formal instruction in COBOL, RPG, &amp; Visual Basic</li>
                <li>
                  Learned skills in planning, writing, & debugging applications
                  in a business-oriented environment.
                </li>
              </ul>
            </dd>
          </dl>
        </dd>

        <dt>Altoona Area High School</dt>
        <dd>
          <dl>
            <dt class="period">Period</dt>
            <dd class="period">2005 - 2008</dd>

            <dt class="certifications">Certifications</dt>
            <dd class="certifications high-school">
              Received High School Diploma
            </dd>
          </dl>
        </dd>
      </dl>
    </section>

    <section id="accomplishments">
      <h2>Accomplishments</h2>
      <ul>
        <li>
          Implemented a popular Zune application that was featured on
          Microsoft’s Xbox Director of Programming Major Nelson’s podcast.
          <time datetime="2008-05-25" class="period"
            ><a
              href="https://majornelson.com/2008/05/25/show-280-xna-drm-and-more/"
              >05/25/2008</a
            ></time
          >
        </li>
      </ul>
    </section>
  </article>
</main>
