.skills-list {
  list-style: none;
  display: inline;
  padding: 0;
}

.skills-list > li {
  display: inline;
}

.skills-list > li:not(:last-child)::after {
  content: ", ";
}

main {
  font-size: 9pt;
}

h2 {
  font-weight: 300;
  font-size: 18pt;
}