<a class="btn btn-outline-secondary" routerLink="/portfolio"
  >Return To Portfolio</a
>
<article *ngIf="project">
  <header>
    <h3>{{ project.title }}</h3>
    <time datetime="project.dateRange">{{ project.dateRangeDescription }}</time>
  </header>

  <img
    src="{{ getProjectImagePath() }}"
    class="img-fluid rounded mb-3"
    alt="An image showing some aspect of {{ project.title }}."
  />

  <project-links *ngIf="project.links" [links]="project.links!"></project-links>

  <section class="content">
    <p [innerHTML]="project.description"></p>
  </section>

  <project-tags [tags]="project.tags"></project-tags>
</article>
