<header>
  <h1>Matthew Deweese</h1>
  <address>
    <ul class="mb-4 list-unstyled list-contact">
      <li class="list-contact-item">
        <a class="text-dark link-plain" href="mailto:matthew@deweese.dev">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          matthew@deweese.dev
        </a>
      </li>
      <li class="list-contact-item">
        <a class="text-dark link-plain" href="tel:+18146509413">
          <fa-icon [icon]="faPhone"></fa-icon>
          (814) 650-9413
        </a>
      </li>
      <li class="list-contact-item">
        <a
          class="text-dark link-plain"
          href="https://www.google.com/maps/place/Pittsburgh,+PA/"
        >
          <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
          Greater Pittsburgh Area
        </a>
      </li>
      <li class="list-contact-item personal-website-link">
        <a class="text-dark link-plain" href="https://deweese.dev/">
          <fa-icon [icon]="faPortrait"></fa-icon>
          deweese.dev</a
        >
      </li>
    </ul>
  </address>
</header>
